body {
    font-family: 'Oswald', sans-serif;
    display: flex;
    margin: 0px;
    height: 100vh;
}

strong {
    color: #145DA0;
}

main {
    flex-grow: 1;
    align-self: center;
    margin-left: 20px;
}

nav {
    text-align: center;
    vertical-align: middle;
}
nav > a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #B1D4E0;
    transition: all .2s ease-in-out;
}
nav > a:hover {
    transform: scale(1.2);
}
nav > a > strong {
    color: #ffffff;
    font-weight: bold;
}

.primary-color{
    color: #0C2D48;
}
.primary-color-bg{
    background-color: #0C2D48;
}
.secondary-color{
    color: #145DA0;
}
.third-color{
    color: #B1D4E0;
}

.nav-section {
    display: flex;
    align-items: center;
    border-width: 0px 15px 0px 0px;
    border-style: solid;
    border-color: #145DA0;
}

.profile-picture {
    width: 100px;
    border-width: 7px;
    border-style: solid;
    border-radius: 50%;
}

